---
import RootLayout from "@layouts/RootLayout.astro";
import Link from "@components/shared/server/Link.astro";
import { routes, Route } from "@data/routes";
---

<RootLayout
    title="Not Found"
    description="Page does not exist"
    robots="noindex, nofollow"
>
    <section class="at-section min-h-[75vh]">
        <header class="at-section-content max-w-full grid-cols-1">
            <div class="my-8 flex flex-col justify-center items-center gap-6">
                <h1>404</h1>
                <h3>Oops, page was not found</h3>
                <span>
                    <Link
                        label=`Back to ${routes[Route.HOME].label}`
                        alt=`Go back to the ${routes[Route.HOME].label} page`
                        href={Route.HOME}
                        type={{
                            value: "button",
                            color: "accent",
                        }}
                    />
                </span>
            </div>
        </header>
    </section>
</RootLayout>