---
import FooterLink from "./FooterLink.astro";
---

<span class="flex flex-col gap-2 items-start">
    <FooterLink
        label="GitHub"
        alt="Go to my GitHub profile"
        href="https://www.github.com/AndreasTMe"
        icon="mdi:github"
        iconSize="34px"
        isExternal
    />
    <FooterLink
        label="LinkedIn"
        alt="Go to my LinkedIn profile"
        href="https://www.linkedin.com/in/andreas-tsimpanogiannis"
        icon="mdi:linkedin"
        iconSize="34px"
        isExternal
    />
    <FooterLink
        label="Twitter"
        alt="Go to my Twitter profile"
        href="https://twitter.com/AndreasTMe"
        icon="mdi:twitter"
        iconSize="34px"
        isExternal
    />
</span>